.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.button {
    margin-top: 2rem;
}

.header {
     color: white; 
     font-weight: bold
}

.body {
    font-weight: 400;   
}

.footer {
     color: white; 
     font-weight: bold
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(185, 240, 5, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    border: 1px solid black;
    margin-top: 2rem;
    position: relative;
    /* animation-name: animateModal; */
    /* animation-duration: 0.5s; */
    animation: animateModal 0.9s ease-out; /* Aplica la animación */
}


.modal-header {
    display: flex;
    background-color: #5cb85c;
    width: 100%;
    height: 100px;   
    justify-content: space-evenly;
}

.modal-header-title {
    background-color: #5cb85c;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 80px;
    text-align: center;
}

.modal-close {
    color: white;
    width: 4%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.modal-body {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: white; 
}

.modal-footer {
    background-color: #5cb85c;
    width: 100%;
    height: 50px;
    text-align: center;
}

/* Animacion 

    La regla arroba @keyframes permite a los autores controlar los pasos intermedios en una secuencia de animación CSS 
    mediante el establecimiento de keyframes (o puntos de trayectoria) a lo largo de la secuencia de animación que debe 
    ser alcanzado por determinados puntos durante la animación. Esto le da un control más específico sobre los pasos 
    intermedios de la secuencia de animación que se obtiene al dejar que el navegador maneje todo automáticamente.

    Para utilizar keyframes, se crea una regla de @keyframes con un nombre que es utilizada por la propiedad animation-name 
    para que coincida con una animación de keyframe a su lista. Cada regla @keyframes contiene una lista de estilo de selectores 
    de keyframe, cada una de los cuales está compuesto de un porcentaje a lo largo de la animación en la que se produce el keyframe 
    así como un bloque que contiene la información de estilo para ese keyframe.

    Puede listar los keyframes en cualquier orden, éstos serán tratados en el orden en que los porcentajes especificados indican que debe ocurrir.

    from: El modal comienza 200 píxeles por encima de su posición final y con una opacidad de 0 (invisible).
    to: El modal termina en su posición normal (top: 0) y con opacidad 1 (completamente visible).
    animation: animateModal 0.9s ease-out;: Esta propiedad aplica la animación al modal cuando se abre. 
    La animación durará 0.9 segundos con una curva de aceleración ease-out, lo que significa que comenzará rápido y se desacelerará al final.
*/
@keyframes animateModal {
    from {
      top: -200px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }