.container {
    width: 100vw;
    height: 100vh;
}

.area {
    position: relative;
    width: 45vw;
    height: 75vh;
    margin: 5px;
}

.image {
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
  }

  .hideImage {
    display: none;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);
  }

  .arrow-left {
    left: 1rem;
  }

  .arrow-right {
    right: 1rem;
  }

  .circle-container {
    display: flex;
    bottom: 1rem;
    flex-direction: row;
    position: absolute;   
    justify-content: center;  
    align-items: center;      
    width: 100%;
  }

  .cicle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: grey;
    margin: 2px;
  }

  .cicle-selected {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: white;
    margin: 2px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 0.5rem;
  }

  .button {
    width: 90%;
  }